body {
  font-family: 'Times new roman';
  display: table-cell;
  color: white;

}


.header {
  grid-area: H;
  height: 25vh;
  z-index: 3;
  /* background-color: #000000; */
}



/* OVERLAY */
.overlay {
  
  color: white;
  /* text-shadow: 1px 1px 1px white; */
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: auto
}

.overlay h1 {
  font-weight: bold;
  font-size: x-large;
  text-justify: inter-ideograph;
}

.overlay h2 {
  font-size: large;
  font-weight: bold;
}

.overlay h3 {
  font-size: medium;
  font-weight: bold;
}

.overlay p {
  font-size: medium;
  text-justify: inter-character
}

.overlay figure {
  font-size: medium;
  font-weight: bold;
}

.overlay img {
  align-self: center;
}

.overlaycon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
}

#o0 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o1 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o2 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o3 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o4 {
  position: fixed;
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o5 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o6 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o7 {
  position: fixed;
  display: none;
  width: 100%;
  height: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

#o8 {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
  cursor: pointer;
  margin: auto;
  overflow-y: auto;
}

/* OVERLAY CONTENTS */

#o0con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o1con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o2con {
  text-align: left;
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o3con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o4con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o5con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o6con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;
}

#o7con {
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;

}

#o8con {
  text-align: left;
  width: 90%;
  height: 90%;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow-y: scroll;

}